<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="icon" type="image/svg+xml"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23ffffff%22></rect><path d=%22M71.28 58.10L71.28 58.10Q71.28 62.69 69.89 66.38Q68.50 70.07 65.75 72.68Q63.01 75.29 59.05 76.73Q55.09 78.17 49.95 78.17L49.95 78.17Q44.83 78.17 40.87 76.73Q36.91 75.29 34.20 72.68Q31.51 70.07 30.11 66.38Q28.72 62.69 28.72 58.10L28.72 58.10L28.72 22.46Q29.16 22.28 30.11 22.05Q31.05 21.83 32.14 21.83L32.14 21.83Q36.01 21.83 36.01 25.16L36.01 25.16L36.01 57.47Q36.01 61.07 37.09 63.77Q38.17 66.47 40.01 68.31Q41.86 70.16 44.42 71.06Q46.98 71.96 49.95 71.96L49.95 71.96Q52.92 71.96 55.49 71.06Q58.05 70.16 59.90 68.31Q61.74 66.47 62.83 63.77Q63.91 61.07 63.91 57.47L63.91 57.47L63.91 22.46Q64.35 22.28 65.30 22.05Q66.25 21.83 67.33 21.83L67.33 21.83Q71.28 21.83 71.28 25.16L71.28 25.16L71.28 58.10Z%22 fill=%22%239013fe%22></path></svg>" />

  <title>Umang</title>
</head>

<body>
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="https://img.icons8.com/ios-filled/50/000000/mental-health.png"/>
        <span class="ml-3 text-xl">Umang</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-blue-900 font-semibold text-lg">About</a>
        <a class="mr-5 hover:text-blue-900 font-semibold text-lg"> </a>
        <a class="mr-5 hover:text-blue-900 font-semibold text-lg" href="/login">Login</a>
        <a class="mr-5 hover:text-blue-900 font-semibold text-lg"> </a>
        <a class="mr-5 hover:text-blue-900 font-semibold text-lg">Our Team</a>
      </nav>
      <form action="/register" method="GET">
        <button type="submit"
          class="transition duration-500 ease-in-out inline-flex items-center bg-gradient-to-r from-green-400 to-blue-500 border-0 py-1 px-3 focus:outline-none hover:from-pink-500 hover:to-yellow-500 rounded text-lg text-white-1000 mt-4 md:mt-0">
          Sign Up
          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-1 stroke-current text-white-1000" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </form>
    </div>
  </header>

  <section class="text-gray-600 body-font bg-gradient-to-r from-purple-200 via-pink-50 to-white-1000 font-serif">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">your
          <br class="hidden lg:inline-block">
          <br class="hidden lg:inline-block"><i><b>self-transformation</b></i>
          <br class="hidden lg:inline-block">
          <br class="hidden lg:inline-block">journey.
          <br class="hidden lg:inline-block">
          <br class="hidden lg:inline-block">
          <br class="hidden lg:inline-block">
        </h1>
        <div class="flex justify-center">
          <form action="/register" method="GET">
            <button
              class="inline-flex text-white bg-blue-700 border-0 py-2 px-6 focus:outline-none hover:bg-blue-900 rounded text-lg">Get
              Started</button>
          </form>
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_jky21vxn.json" background="transparent"
          speed="0.25" style="width: 620px; height: 400px;" loop autoplay>
        </lottie-player>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font bg-gradient-to-r from-pink-200 to-white-1000">
    <div>
      <h1 class="text-center font-extrabold text-4xl">About Us</h1>
    </div>
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <p class="mb-8 leading-relaxed"> For the team at Umang ,there is nothing like
          <br class="hidden lg:inline-block"> witnessing the self- transformation that you
          <br class="hidden lg:inline-block"> go into. Umang offers you a chance to connect
          <br class="hidden lg:inline-block"> with yourself and improve your mental health.
          <br class="hidden lg:inline-block">
          <br class="hidden lg:inline-block"> Isnt it time to put yourself first and take
          <br class="hidden lg:inline-block"> care of your well-being?
        </p>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_9wjm14ni.json" background="transparent"
          speed="0.5" style="width: 620px; height: 400px;" loop autoplay>
        </lottie-player>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font bg-gradient-to-r from-yellow-200 via-pink-100 to-blue-100">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <div>
          <h1 class="text-center font-extrabold text-4xl">Our Team</h1>
        </div>
       
      </div>

      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
            <div class="h-full text-center">
              <img alt="testimonial"
                class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                src="images/manvi.jpeg">
              <p class="leading-relaxed">I have contributed in the front end of the website and worked in the
                implentation of yoga pose evaluator</p>
              <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
              <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">MANVI GUPTA</h2>
              <p class="text-gray-500">Frontend Web Developer and ML Lead</p>
            </div>
          </div>
          <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
            <div class="h-full text-center">
              <img alt="testimonial"
                class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                src="images/mananimage.jpeg">
              <p class="leading-relaxed">I have contributed in the backend of the website and worked in the
                implementation of music based on mood</p>
              <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
              <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">MANAN JAIN</h2>
              <p class="text-gray-500">Backend Web Developer and ML Lead</p>
            </div>
          </div>
          <div class="lg:w-1/3 lg:mb-0 p-4">
            <div class="h-full text-center">
              <img alt="testimonial"
                class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                src="images/gurmehar.jpeg">
              <p class="leading-relaxed">I have designed the UI UX of the website and worked on the ideation of the
                project</p>
              <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
              <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">GURMEHAR KAUR SIBBAL</h2>
              <p class="text-gray-500">UI/UX Developer</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Umang</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© Made with
        💜 by Manan Jain, Manvi Gupta and Gurmehar Kaur.

      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
        <a href="https://github.com/Manan-jn/Umang" class="text-gray-600 ml-1" rel="noopener noreferrer"
          target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <path
              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
          </svg>
        </a>
      </span>
    </div>
  </footer>

</body>

</html>
