<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23ffffff%22></rect><path d=%22M71.28 58.10L71.28 58.10Q71.28 62.69 69.89 66.38Q68.50 70.07 65.75 72.68Q63.01 75.29 59.05 76.73Q55.09 78.17 49.95 78.17L49.95 78.17Q44.83 78.17 40.87 76.73Q36.91 75.29 34.20 72.68Q31.51 70.07 30.11 66.38Q28.72 62.69 28.72 58.10L28.72 58.10L28.72 22.46Q29.16 22.28 30.11 22.05Q31.05 21.83 32.14 21.83L32.14 21.83Q36.01 21.83 36.01 25.16L36.01 25.16L36.01 57.47Q36.01 61.07 37.09 63.77Q38.17 66.47 40.01 68.31Q41.86 70.16 44.42 71.06Q46.98 71.96 49.95 71.96L49.95 71.96Q52.92 71.96 55.49 71.06Q58.05 70.16 59.90 68.31Q61.74 66.47 62.83 63.77Q63.91 61.07 63.91 57.47L63.91 57.47L63.91 22.46Q64.35 22.28 65.30 22.05Q66.25 21.83 67.33 21.83L67.33 21.83Q71.28 21.83 71.28 25.16L71.28 25.16L71.28 58.10Z%22 fill=%22%239013fe%22></path></svg>" />

    <title>Dashboard</title>
</head>

<body>
    <header>
        <section class="text-gray-600 body-font">

            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <h1 class="text-center font-extrabold text-4xl">Dashboard</h1>
            </div>
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-wrap -m-4">
                    <div class="p-4 lg:w-1/3">
                        <div
                            class="h-full bg-purple-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Music
                                Recommendations</h1>
                            <p class="leading-relaxed mb-3">Get your own personalised music recommendations based on
                                your current mood.
                                Explore by clicking on learn more!

                            </p>
                            <a class="text-indigo-500 inline-flex items-center" href="http://127.0.0.1:8000/">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                                <script
                                    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_mnbhbf9n.json"
                                    background="transparent" speed="1" style="width: 100px; height: 100px;" loop
                                    autoplay></lottie-player>
                            </a>




                        </div>
                    </div>
                    <div class="p-4 lg:w-1/3">
                        <div
                            class="h-full bg-yellow-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">

                            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Personalised Yoga
                                Training</h1>
                            <p class="leading-relaxed mb-3">Our AI driven yoga instructor will help you exercise better.
                                Explore by clicking on learn more!</p>
                            <a class="text-indigo-500 inline-flex items-center"
                                href="https://umang-yoga-track-learn.vercel.app/index.html">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>

                                </svg>
                                <script
                                    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_RKwt3u.json"
                                    background="transparent" speed="1.5" style="width: 100px; height: 100px;" loop
                                    autoplay></lottie-player>

                            </a>

                        </div>
                    </div>

                    <div class="p-4 lg:w-1/3">
                        <div
                            class="h-full bg-pink-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">

                            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Write a journal!
                            </h1>
                            <p class="leading-relaxed mb-3">Let this journal be the personal journey to help you get
                                closer to the person that you are and to the person that you want to be.</p>
                            <a class="text-indigo-500 inline-flex items-center" href="/journal">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                                <script
                                    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_yswp4uj3.json"
                                    background="transparent" speed="2" style="width: 100px; height: 100px;" loop
                                    autoplay></lottie-player>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <button
                class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                href="/logout">Log Out</button>
        </section>
    </header>
</body>

</html>